.mlb-container {
	position: absolute;
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    overflow: hidden;
}

.mlb-images {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
}

.mlb-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	z-index: 0;
}

.mlb-image img {
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.mlb-image-active {
	opacity: 100;
	z-index: 1;
}

.mlb-pnl {
	z-index: 2;
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    background-color: black;
    opacity: 0;
    transition-property: opacity;
	transition-duration: 1s;
}

.mlb-pnl-active {
	opacity: 0.6;
}

.mlb-pnl-left {
	left: 0;

}

.mlb-pnl-right {
	right: 0;
}

.mlb-btn {
	position: absolute;
	width: 100%;
	height: 150px;
	text-align: center;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0;
}

.mlb-btn > span {
	vertical-align: top;
	height: 100px;
	display: block;
	font-size: 85px;
	margin: 25px 0;
	line-height: 100px;
	cursor: pointer;
	letter-spacing: 0px;
	color: white;
}

.mlb-btn-left > span {
	left: 0;
}

.mlb-btn-right > span {
	right: 0;
}

.mlb-btn-delete {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 20px;
	text-align: center;
}

.mlb-btn-delete > span {
	height: 50px;
	cursor: pointer;
	color: white;
	font-size: 30px;
	line-height: 50px;
}
