.ms {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.ms-box {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.ms-thumbs {
	width: 50%;
	height: 20%;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	top: 80%;
	left: 25%;
	right: 50%;
	z-index: 1;
}

.ms-dot {
	width: 1%;
	height: 1%;
	padding: 1%;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 10%;
	margin-bottom: 10%;
	display: inline-block;
	background-color: white;
	border-radius: 85%;
	opacity: 80;
	cursor: pointer;
}

.ms-dot-active {
	background-color: black;
}

.ms-dot:hover {
	background-color: black;
}

.ms-images {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
}

.ms-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	z-index: 0;
}

.ms-image img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
}

.ms-image-active {
	opacity: 100;
	z-index: 1;
}

.ms-pnl {
	z-index: 2;
	position: absolute;
	height: 100%;
	width: 80px;
	top: 0;
	background-color: black;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
}

.ms-pnl-active {
	opacity: 0.6;
}

.ms-pnl-l {
	left: 0;

}

.ms-pnl-r {
	right: 0;
}

.ms-btn {
	position: absolute;
	width: 2em;
	height: 2em;
	line-height: 2em;
	cursor: pointer;
	z-index: 2;
	text-align: center;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-right: 20px;
	margin-left: 20px;
	color: rgba(255,255,255,.6);
}

.ms-btn span {
	font-size: 2em;
	vertical-align: top;
}

.ms-btn span:hover {
	color: white;
}

.ms-btn-left {
	left: 0;
}

.ms-btn-right {
	right: 0;
}
