.mtdl-container {
	width: 100%;
	height: 100%;
	margin: 80px auto;
	border: 1px solid #dc26aa52;
}

.mtdl-title {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Sanvito";
	background-color: #edd7fa;
}

.mtdl-input-btns {
	background-color: #edd7fa;
	padding: 5px;
}

.mtdl-input-txt {
	width: 79%;
	height: 28px;
	margin-bottom: 3px;
	font-size: 18px;
}

.mtdl-add-btn {
	width: 18%;
	height: 34px;
	padding: 0px;
	margin-bottom: 3px;
	color: black;
	background-color: violet;
	cursor: pointer;
	font-size: 18px;
}

.mtdl-add-btn:hover {
	background-color: darkviolet;
	color: white;
}

.mtdl-clear-btn {
	width: 100%;
	background-color: violet;
	color: black;
	cursor: pointer;
	font-size: 18px;
}

.mtdl-clear-btn:hover {
	color: white;
	background-color: darkviolet;
}

.mtdl-list {
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}

.mtdl-item {
	display: block;
	padding: 15px;
	border-bottom: 1px solid pink;
	cursor: pointer;
}

.mtdl-checked {
	text-decoration: line-through;
	background-color: pink;
}

.mtdl-remove-item {
	position: relative;
	color: black;
	float: right;
	top: 0px;
	font-size: 18px;
}

.mtdl-remove-item:hover {
	font-weight: bold;
	cursor: pointer;
}
